{
    servers {
        timeouts {
            read_header 5s
            read_body 10s
            idle 30s
        }
    }
}

test.goldensystems.ca {
    encode gzip zstd
    reverse_proxy 127.0.0.1:8080 {
        transport http {
            keepalive off
        }
    }
}